## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats
*.userprefs

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

## IDE
.vs/
.vscode/
.idea/
*.swp
*~
\#*\#
.DS_Store
Thumbs.db

## Rider
.idea/
*.sln.iml

## BenchmarkDotNet
BenchmarkDotNet.Artifacts/

## Logs
*.log

## OS
.DS_Store
desktop.ini
